.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row-section {
  height: 300px;
}

.icon {
  height: 30px;
  width: 30px;
}

.medium-icon {
  height: 40px;
  width: 40px;
}

.link-unstyled, .link-unstyled:visited, .link-unstyled:hover, .link-unstyled:active {
  color: black;
  text-decoration: none;
}